#editorContainer{
    position: relative;
    left: 20px;
}

#editorHeading{
    color: white;
    background-color: #578978;
}

#previewerHeading{
    position: relative;
    color: white;
    background-color: #578978;
    left: 20px;
}

#outputBox > div > h1{
    padding-top: 9px;
}

#outputBox{
    background-color: aquamarine;
    margin-top: -20px;
    position: relative;
    left: 20px;
    width: 1141px;
}

#editorBox{
    overflow-y: scroll;
    margin-top: -10px;
    height: 209px;
    font-size: 15px;
    background-color: aquamarine;
}

.mystyle input[type="text"] {
    height: 14px;
    font-size: 10px;
    line-height: 14px;
 }
 
 